<div id="new-team">
  <div><h2>New team</h2></div>
  <div class="card w400">
    <%= form_for [@farm, @team], remote: true do |t|%>
      <div class="form-group">
        <%= t.text_field :name, size: '80', class:"form-control", placeholder:"Name" %>
      </div>
      <div class="form-group">
        <%= t.submit 'Submit' , class:"btn btn-primary" %>
      </div>
    <% end %>
    <span class="btn btn-danger" onclick="closeDiv()">Cancel</span>
  </div>
  <script>
    function closeDiv(){
      $("#team-list").show();
      $("#new-team").remove();
    }
  </script>
</div>
