<div>
  <%= image_tag 'user.png', class:'small-img circle' %>
</div>
<div>
  <%= link_to region_service_provider_path(sp.region, sp), remote: true do %>
    <%= sp.user.username %>
  <% end %>
</div>
