<div class="row list-item">
  <div class="center-text col-xs-3">
    <%= image_tag sp.image.url(:thumb), class:'micro-img circle' %>
    <!-- <%= image_tag 'user.png', class:'micro-img circle' %> -->
  </div>
  <div class="col-xs-9">
    <%= link_to region_service_provider_path(sp.region, sp), remote: true do %>
      <%= sp.fname+" "+sp.lname %>
    <% end %>
  </div>
</div>
