<%= @farm.name %>
<div class="row">
  <div class="col-md-3">
    <div class="card w200">
      Stat 1
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 2
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 3
    </div>
  </div>
  <div class="col-md-3">
    <div class="card w200">
      Stat 4
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div><h3>Labourers</h3></div>
    <div>Labour list</div>
  </div>
  <div class="col-md-4">
    Farmer details
  </div>
</div>
