
<div class="x_panel tile w500 center-float">
  <div class="x_title">
		<h2>Report</h2>
	  <div class="clearfix"></div>
	</div>
  <div class="x_content">
    <% data = JSON.parse(@tar.report.to_json) %>
    <% data.each do |k, v| %>
      <%= k %> <br>
      <%= v %> <hr>
    <% end %>
  </div>
</div>
