<h1>TeamActivityReports#show</h1>
<p>Find me in app/views/team_activity_reports/show.html.erb</p>
<% @ta.team_activity_reports.each do |r|%>
  <% data = JSON.parse(r.report.to_json) %>
  <% data.keys.each do |key| %>
    <%= key %>
  <% end %><br>
  <%= link_to r.report, r, remote:true %>
<% end %>
