<h2>What is your email?</h2>
<%= form_for @user, url: "/accounts/reset" do |u|%>
  <div class="form-group">
    <%= u.email_field :email, placeholder: 'email' %>
  </div>
  <div class="form-group">
    <%= u.submit 'Submit' %>
  </div>
<% end %>
