<div id="demo-subscription">
	<div id="sform1" class="card w500 hcenter max-w95">
		<div class="tcenter"	>
		<%= image_tag "rocket.png", class:"vcenter" %> <br>
		Be the first to know when we launch</div>
		<br>
		<!-- <div class="slant"></div> -->
		<div class="form-group">
			<input class="form-control" type="text" v-model="subscription.name" placeholder="Name" required name="name" />	
		</div>	
		<div class="form-group">
			<input class="form-control" type="email" v-model="subscription.email" placeholder="you@example.com" required name="email" @keyup.enter="submit"/>	
		</div>		
		<div class="form-group">
			<div class="btn btn-primary" type="submit" v-on:click="submit">Submit</div>	
		</div>	
	</div>
	<div id="sform2" class="card w500 hcenter max-w95" hidden>
		<div class="tcenter"	>
			<%= image_tag "rocket.png", class:"vcenter" %> <br><br>
			Thanks <strong>{{ subscription.name }}</strong>. <br>
			You are now subscribed with <strong>{{ subscription.email }}</strong>.
			<div v-show="subscription.reason == 'media-kit'">
				<br> <hr>
				<small class="theme-text">Your file will download soon...</small>
			</div>
		</div>
	</div>	
</div>
<script type="text/javascript">
	var subVue = new Vue({
  el: '#demo-subscription',
  data: {
    subscription:{
    	name: "",
    	email: "",
    	reason: "<%= locals[:reason] %>"
    }
  },
  methods:{
  	submit: function(e){
  		// send and clear
  		// show thank you
  		if (Boolean(this.subscription.name) && Boolean(this.subscription.email)) {
  			$.post("/ghalani_contacts", { ghalani_contact: this.subscription })
			  .done(function( data ) {
			  	if (data.reason == "media-kit") {
			  		 window.location.href = "/doc/gmk.zip";
			  	}
			    $('#sform1').hide('200', function(){
		  			$('#sform2').addClass('animate-in'); 
		  		}); 
			  })
			  .fail(function(data){
			  	alert(JSON.stringify(data.errors));
			  });
  		}else{
  			alert("Your Name and Email are required")
  		}  		
  	}
  }
})
</script>