<div class="center-float w500">
  <div class="card">
    <div id="existing-farmer">
      <%= render partial: "farmers/new_ex" %>
    </div>
    <div id="new-farmer">
      <%= render partial: "farmers/new" %>
    </div>
  </div>
</div>
