<h1>Farmers#show</h1>
<p>Find me in app/views/farmers/show.html.erb</p>
<%= @farmer.fl_name %>
<% if @farmer.farms && @farmer.farms.size > 0 %>
  <% @farmer.farms.each do |f| %>
    <%= f.name %>
  <% end %>
<% end %>
