<div id="mySPshow">
  <div class="card">
    <h1>Overlayed</h1>
  </div>

  <script>
    function closeNav() {
      document.getElementById("myOverlay").style.height = "0%";
      $("#mySPshow").remove();
    }
  </script>
</div>
