<div id="mySPshow">
  <div class="card">
    <div class="center-text">
      <%= image_tag 'user.png', class:'small-img circle' %>
    </div>
    <div class="center-text">
      <%= @sp.name %>
    </div>
    <div class="center-text">
      <%= @sp.phone %>
    </div>
  </div>
</div>
