<div id="mySPshow">
  <div class="card">
    <div class="center-text">
      <%= image_tag 'user.png', class:'small-img circle' %>
    </div>
    <div class="center-text">
      <%= @sp.user.username %>
    </div>
    <div class="center-text">
      <%= @sp.user.phone %>
    </div>
  </div>

  <script>
    $("#myOverlay").on('click', function(){
      closeNav();
    });
    function closeNav() {
      document.getElementById("myOverlay").style.height = "0%";
      $("#mySPshow").remove();
    }
  </script>
</div>
