/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';

@import "font-awesome";

.h200{	height: 200px; }

.h300{ height: 300px; }
.h500{ height: 500px; }

.w50{ width: 50px; }
.w100{ width: 100px; }
.w200{ width: 200px; }

.w300{ width: 300px; }
.w500{ width: 500px; }
.w700{ width: 700px; }

.full-height{ height: 100% }

.bd-right{ border-right: #ddd solid 1px; }

.card {
  padding:1.5rem;
  box-shadow:0 1px 2px #aaa;
  background:white;
  margin:0 1rem 1rem;
  border-radius:3px;
  user-select:none;
  animation:fly-in-from-left .5s 1s ease both;
  transform-origin: top left;
  transition: all 0.2s ease;
}

.card:hover{
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  -moz-box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  box-shadow:0 12px 15px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.theme1{
  background: #3F51B5;
  padding-top: 200px;
}

.hcenter{
  margin: auto;
}

a:hover {text-decoration: none;}
.list-item, .list-item-head{
  font-size: 15px;
  padding: 10px;
  &:hover{
    background: #f5fafe;
    cursor: pointer;
  }
  h1,h2,h3,h4{
    margin: 0px;
  }
}

.list-item-head{
  background: #73879C;
  color: #f5f5f5;
}
.pad15{padding: 15px;}
.neg_marg15{margin: -15px;}
.max-800h{ max-width: 800px; }
.title1{ font-size: 40px; }
.no-pad{ padding: 0px; }
.no-marg{ margin: 0px; }
.ferror{ color: #ee1111; }
.alert{
  z-index: 2;
  margin: 0px;
  text-align: center;
  border-radius: 0;
  border: none;

}
.alert-success{
  background: #07775a;
  color: #f5f5f5;
}
.alert-info{
  background: #2295cf;
  color: #f5f5f5;
}

#err-msg{ color: red; font-size: 30px;}

.field, .form-group{
  textarea{
    width: 100%;
    min-height: 200px;
    font-size: 20px;
    border-radius: 2px;
    border-color: #f3f3f3;
  }

  select{
    width: 100%;
    border: none;
    border-radius: 2px;
    border: 1px solid #f3f3f3;
    &:hover{
      border: 1px solid #3F51B5;
    }
  }
}

a:visited { color: none; }

.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
}

.checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0.5;
    z-index: 1;
    outline: none !important;
}

.form-group {
  min-height: 35px;
}
