
$primary-bg-color: #63b145;
$primary-yellow: #dfe96c;
$stub-orange: #da7c31;
$whitish: #fafafa;
$text-color: #6f6f6f;
$white: #fff;

.btn-primary{
  background: $primary-bg-color !important;
  border: none !important;
  box-shadow: 2px 3px 14px -6px #40541f;
  transition: all 300ms ease-in-out;
  &:hover{
    box-shadow: 2px 3px 34px -6px #40541f;
  };
}

html,body{
  //background: url('img/bg.png') $background-color;
  font-family: 'Roboto', sans-serif;
}
.tcenter{ text-align: center }
.slant{
  background: #212531;
  background: linear-gradient(to right bottom, $primary-bg-color 50%, rgba(0,0,0,0) 50%);
  min-height: 200px;
  margin: -15px;
  border-radius: 3px 3px 0px 0px
}
  
.max-w95{max-width: 95% !important}

#landing-page{
  @import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700';
  color: $text-color !important;
  font-size: 16px;
  background: $whitish;
  overflow-x: hidden;
  //position: absolute;


  #social-icons{
    i{
      transition: 0.5s;

      &:hover {
        font-size: 30px;
      }
    }
  }


  .big-text{
    font-size: 37px
  }

  .slim-text1{ font-weight: 100}

  .row{
    margin: 0;
  }

  .pad-tb{
    padding: 50px 0;
  }

  section{
    min-height: 200px;
  }

  .guide{
    max-width: 1000px;
  }

  .fright{
    float: right;
  }

  nav#nav1, nav#nav2{
    border: none;
    border-radius: 0;
    a{
      color: $whitish !important;
      img{
        width: 40px;
      }
    }
    .navbar-brand {
      padding: 5px;
    }
  }
  nav#nav1{
    background: $primary-bg-color;
    padding: 0 0 5px 0;
    margin: 0 0 -15px 0;
  }
  .ease{
    transition: all 300ms ease-in-out;
  }

  nav.navbar-fixed-top{
    background: $primary-bg-color;
    box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.22);

    // ul li.active a{
    //   color: $white;
    //   background: none;
    // }
  }
  .bg-white{
    background: $whitish;
    color: $primary-bg-color;
  }
  .bg-green{
    background: $primary-bg-color;
    color: $whitish;
  }

  .child-center {
    margin: auto;
    //margin-top: 5%;
  }

  .abs-center{
    position: absolute;
    left: 50%;
    div.abs-child{
      position: relative;
      left: -50%
    }
  }

  .mgt20{
    margin-top: 20px;
  }

  .mgb20{
    margin-bottom: 20px;
  }

  .mgb60{
    margin-bottom: 60px;
  }

  .v-center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  span{
    color: $primary-bg-color;
    font-weight: bold;
  }

  .card1{
    background: $white;
    border-radius: 2px;
    margin-top: -50px;
    padding: 30px 16px;
    box-shadow: 0px 0px 23px 0px rgba(63, 131, 45, 0.37);
    img{
      max-width: 90%
    }
  }

  .card2{
    background: $white;
    border-radius: 2px;
    padding: 30px 16px;
    box-shadow: 0px 17px 53px 0px rgba(63, 131, 45, 0.37);
    max-width: 95%;
  }

  .card3{
    background: $white;
    border-radius: 10px;
    padding: 30px 16px;
    box-shadow: 0px 17px 67px -17px rgba(63, 131, 45, 0.37);
    max-width: 95%;
  }

  .z2{ z-index: 2;}
  .pop-right{margin-right: -16px;}
  .pop-left{margin-left: -16px;}
  .nm-card{height: 80vh;}
  .sm-card{
    height: 70vh;
    margin: 50px auto;
    max-width: 95%;
  }

  .main-text{color: $primary-bg-color}
  .pad100tb{padding: 100px 0;}
  .top35{top: 35% !important;}
  #home{
    background: $primary-bg-color image-url('truck_overlay.png');
    background-size:     cover;
    background-position: center center;
    height: 90vh;
    font-size: 1.8em;
    text-align: center !important;
    #home-text1{
      color: #e5e5e5;
      margin-top: -120px;
      font-weight: bold;
      margin: auto;
      font-size: 1.5em;
      margin-bottom: 10px;
    }
    #home-text2{
      color: #e5e5e5;
      margin: auto;
    }

    .navbar-fixed-top{
      background: $primary-bg-color !important;
      box-shadow: 0px 10px 20px 0px rgba(0,0,0, 0.37);
      padding: 0 0 5px 0;
    }
  }

  #about{
    font-size: 1.5em;

    .item{
      opacity: 0;
      display: none;
      font-size: 1.5em;
      margin-bottom: 50px;
    }
    .item.is-visible{
      display: block;
      animation: Items 600ms ease-in forwards;
    }
    @keyframes Items{
      0%{
        opacity: 0;
        transform: scale(0.3) rotateY(90deg);
      }
      60%{
        transform: scale(1.1);
      }90%{
        transform: scale(0.95);
      }100%{
        opacity: 1;
      }
    }
  }

  #services{
    //height: 90vh;
    padding: 50px 0;
    background: $primary-bg-color; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient($primary-bg-color, $primary-yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient($primary-bg-color, $primary-yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient($primary-bg-color, $primary-yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient($primary-bg-color, $primary-yellow); /* Standard syntax */

    #hbar{
      display: block;
      height: 5px;
      width: 100px;
      margin: auto;
      background: $stub-orange;
      margin-top: 50px;
    }
    #sv-phone {display: none;}

    @media only screen and (max-width: 780px) {
      .item{
        font-size: 0.7em !important;
      }
      #home{
        font-size: 1em;
      }
      #sv-web{
        display: none;
      }
      #sv-phone {
        display: block;
      }
    }

    .sm_desc{
      font-size: 1em;
      line-height: 1.5em;
    }
  }

  #contact{
    margin: 50px 0;
  }

  #footer{
    background: $white;
    min-height: auto;
    #copyright{
      background: $primary-bg-color;
      color: $white;
    }
  }

  #social-icons{
    font-size: 25px;
    text-align: center;
    margin: 0 0 20px 0;
    i{
      color: #888;
      margin: 0 10px;
    }
    i.fa-facebook:hover{
      color: #3B5998;
    }
    i.fa-twitter:hover{
      color: #1DA1F2;
    }
    i.fa-linkedin:hover{
      color: #1B86BD;
    }
  }

  .rounded{
    padding: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 2px 2px;
    border-radius: 2px;
  }

  .rbt{
    font-family: 'Roboto', sans-serif;
  }

  a:hover{
    background: none;
  }

  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6ec24d;
    border: none;
  }
  .navbar-toggle{
    border: none;
    .icon-bar {
      background-color: #e9fff2;
    }
  }
}
.modalButton {
  background-color: #00c853 !important;
  border-color: #00c853 !important;
}
#modalForm{
  margin-top: 200px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
  padding-right: 0px;
  padding-left: 0px;
}

#sform1, #sform2{
  font-size: 1.5em;
  color: $text-color
}

.font1{font-size: 1em !important;}
.font2{font-size: 1.5em !important;}

.animate-in{
  display: block !important;
  animation: Pop-in 600ms ease-in forwards;
}
@keyframes Pop-in{
  0%{
    opacity: 0;
    transform: scale(0.3) rotateY(90deg);
  }
  60%{
    transform: scale(1.1);
  }90%{
    transform: scale(0.95);
  }100%{
    opacity: 1;
  }
}

.pos-bottom{
  bottom: 0px;
  position: absolute;
  width: 95%;
}