<div class="center-float w500">
  <div class="card">
    <h3>Existing farmers</h3>
    <div id="existing-farmer">
      <% if @farmers && (@farmers.size > 0) %>
      <%= render partial: "farms/farmer/new_ex" %>
      <% else %>
        No existing farmers in this region (<%= @farm.region.name %>)
      <% end %>
    </div>
    <hr>
    <div> OR </div>
    <hr>
    <h3>New farmer</h3>
    <div id="new-farmer">
      <%= render partial: "farms/farmer/new" %>
    </div>
  </div>
</div>
